/* .newsletter-form { 
    margin-bottom: 40px; 
}

.substack-feed-embed {
    border: 1px dashed #24242460;
    padding: 14px;
}

.substack-feed-embed { 
    display: grid; 
    gap: 20px; 
} 
.substack-post { 
    background-color: beige;
    display: flex;  */
    /* align-items: flex-start;  */
    /* gap: 15px; 
    width: 10%;
    margin-bottom: 20px; 
    padding: 15px; 
    border: 1px solid #eee; 
    border-radius: 8px; 
} 

.substack-thumbnail { 
    width: 120px; 
    height: 120px; 
    object-fit: cover; 
    border-radius: 8px; 
    flex-shrink: 0; 
} 

.substack-post div { 
    flex: 1; 
}  */